/* Bring in Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


:root {
    --off-white: #fffafa;
    --off-blue: #242e36;
    --crt-grey: #36454f;
    --terminal-bar: #bbc1c9;
    --terminal-green: #00CA4E;
    --terminal-yel: #FFBD44;
    --terminal-red: #FF605C;
    --dark: #1b2939;
    --light-text: #ffffff;
    --muted-text: #3b3b3b;
    --dark-text: #111111;
    --shadow: #282828;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

* {
    margin: 0;
    font-size: 16px;
    /*box-sizing: border-box;*/
}
/*
html {
    height: 100%;
}
*/

body {
    background-color: var(--off-blue);
    font-family: 'Mukta', sans-serif;
    color: var(--light-text);
}

#enterCommandText {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    height: 96.75vh;
    background-color: var(--crt-grey); 

}

.rectangle {
    height: 3.25vh;
    width: 100%;
    background-color: var(--terminal-bar);
}

.rectangle2 {
    background-color: var(--terminal-bar);
    height: 3.25vh;
    text-align: center;
}

.circleRow {
    display: flex;
    align-items: center;
}

.circle {
    max-height: 12px;
    max-width: 12px;
    min-height: 12px;
    min-width: 12px;
    border-radius: 50%;
}

.circle1 {
    background-color: var(--terminal-red);
}

.circle2 {
    background-color: var(--terminal-yel);
}

.circle3 {
    background-color: var(--terminal-green);
}
