/* Bring in Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


:root {
    --off-white: #fffafa;
    --off-blue: #242e36;
    --crt-grey: #36454f;
    --terminal-bar: #bbc1c9;
    --terminal-green: #00CA4E;
    --terminal-yel: #FFBD44;
    --terminal-red: #FF605C;
    --dark: #1b2939;
    --light-text: #ffffff;
    --muted-text: #3b3b3b;
    --dark-text: #111111;
    --shadow: #282828;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

* {
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    border: none;
}
/*
html {
    height: 100%;
}
*/

body {
    background-color: var(--off-blue);
    font-family: 'Mukta', sans-serif;
    color: var(--light-text);
    margin:0;padding:0;border:none;

}

footer {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 5rem;
    width: 100vw;
    background-color: var(--crt-grey);
    color: var(--light-text);
}

.wrapperCommand {
    width: 100%;
    padding: 0;
    height: 50vh;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    box-shadow: none;
    background-color: var(--crt-grey);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rectangle {
    height: 35px;
    max-height: 35px;
    min-height: 35px;
    /*width: 100%;*/
    background-color: var(--terminal-bar);
}

.rectangle2 {
    display: table-cell;
    height: 35px;
    vertical-align: middle;
    /*height: 3.25vh;
    max-height: 3.25vh;
    min-height: 3.25vh;
        */
}

.circleRow {
    display: flex;
    align-items: center;
}

.circle {
    max-height: 12px;
    max-width: 12px;
    min-height: 12px;
    min-width: 12px;
    border-radius: 50%;
}

.circle1 {
    background-color: var(--terminal-red);
}

.circle2 {
    background-color: var(--terminal-yel);
}

.circle3 {
    background-color: var(--terminal-green);
}
